.cards-container{
    background: var(--grey-black);
    width: 100%;
    justify-content: space-around;
    margin: 2% 0;
    padding: 3% 0;
    flex-wrap: wrap;
}

.secundary-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}