@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.light{
  --violet: #572EE5;
  --violet-white: #572EE5;
  --green: rgb(79,227,193);
  --grey: #E7E7E7;
  --grey-black: #E7E7E7;
  --black-white: #121212;
  --white-black:  white;
}


.dark{
  --violet: #572EE5;
  --violet-white: #FFFFFF;
  --green: rgb(79,227,193);
  --grey: #E7E7E7;
  --grey-black: #212121;
  --black-white: #FFFFFF;
  --white-black: rgb(55,55,55);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  border-top: 5px solid var(--violet);
  background: var(--white-black);
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal-container{
  width: 900px;
  border: 1px solid var(--grey);
  font-weight: 700;
}

.violet-text{
  font-family: 'Roboto', sans-serif;
  color: var(--violet-white);
}

